<h1>this is the show page</h1> 
<p> title: <%= @article.title %> </p>
<p>description: <%= @article.description %></p>
 <%= link_to 'Back to all the index', articles_path %> 
 <%= link_to 'edit', edit_article_path(@article)%>